<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
  <!-- begin #header -->
  <div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
      {{ page.header }}
    </div>
    <!-- end navbar-header -->

    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
      <li>
        <form class="navbar-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter keyword" />
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
          <i class="fa fa-bell"></i>
          <span class="label">5</span>
        </a>
        <ul class="dropdown-menu media-list dropdown-menu-right">
          <li class="dropdown-header">NOTIFICATIONS (5)</li>
          <li class="media">
            <a href="javascript:;">
              <div class="media-left">
                <i class="fa fa-bug media-object bg-silver-darker"></i>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                <div class="text-muted f-s-11">3 minutes ago</div>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="javascript:;">
              <div class="media-left">
                <img src="{{ base_path }}{{ directory }}/assets/img/user/user-1.jpg" class="media-object" alt="" />
                <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
              </div>
              <div class="media-body">
                <h6 class="media-heading">John Smith</h6>
                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                <div class="text-muted f-s-11">25 minutes ago</div>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="javascript:;">
              <div class="media-left">
                <img src="{{ base_path }}{{ directory }}/assets/img/user/user-2.jpg" class="media-object" alt="" />
                <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Olivia</h6>
                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                <div class="text-muted f-s-11">35 minutes ago</div>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="javascript:;">
              <div class="media-left">
                <i class="fa fa-plus media-object bg-silver-darker"></i>
              </div>
              <div class="media-body">
                <h6 class="media-heading"> New User Registered</h6>
                <div class="text-muted f-s-11">1 hour ago</div>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="javascript:;">
              <div class="media-left">
                <i class="fa fa-envelope media-object bg-silver-darker"></i>
                <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
              </div>
              <div class="media-body">
                <h6 class="media-heading"> New Email From John</h6>
                <div class="text-muted f-s-11">2 hour ago</div>
              </div>
            </a>
          </li>
          <li class="dropdown-footer text-center">
            <a href="javascript:;">View more</a>
          </li>
        </ul>
      </li>
      <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ base_path }}{{ directory }}/assets/img/user/user-13.jpg" alt="" />
          <span class="d-none d-md-inline">Adam Schwartz</span> <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="javascript:;" class="dropdown-item">Edit Profile</a>
          <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
          <a href="javascript:;" class="dropdown-item">Calendar</a>
          <a href="javascript:;" class="dropdown-item">Setting</a>
          <div class="dropdown-divider"></div>
          <a href="javascript:;" class="dropdown-item">Log Out</a>
        </div>
      </li>
    </ul>
    <!-- end header navigation right -->
  </div>
  <!-- end #header -->

  <!-- begin #sidebar -->
  <div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- begin sidebar user -->
      <ul class="nav">
        <li class="nav-profile">
          <a href="javascript:;" data-toggle="nav-profile">
            <div class="cover with-shadow"></div>
            <div class="image">
              <img src="{{ base_path }}{{ directory }}/assets/img/user/user-13.jpg" alt="" />
            </div>
            <div class="info">
              <b class="caret pull-right"></b>
              Sean Ngu
              <small>Front end developer</small>
            </div>
          </a>
        </li>
        <li>
          <ul class="nav nav-profile">
            <li><a href="{{ path('entity.user.admin_form') }}"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="{{ path('help.main') }}"><i class="fa fa-question-circle"></i> Helps</a></li>
          </ul>
        </li>
      </ul>
      <!-- end sidebar user -->
      <!-- begin sidebar nav -->
      <ul class="nav">
        {% if page.sidebar_first %}
          {{ page.sidebar_first }}
          <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
        {% else %}
          <li class="nav-header">Navigation</li>
          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-th-large"></i>
              <span>Dashboard</span>
            </a>
            <ul class="sub-menu">
              <li><a href="index.html">Dashboard v1</a></li>
              <li><a href="index_v2.html">Dashboard v2</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <span class="badge pull-right">10</span>
              <i class="fa fa-hdd"></i>
              <span>Email</span>
            </a>
            <ul class="sub-menu">
              <li><a href="email_inbox.html">Inbox</a></li>
              <li><a href="email_compose.html">Compose</a></li>
              <li><a href="email_detail.html">Detail</a></li>
            </ul>
          </li>
          <li>
            <a href="widget.html">
              <i class="fab fa-simplybuilt"></i>
              <span>Widgets <span class="label label-theme m-l-5">NEW</span></span>
            </a>
          </li>
          <li class="has-sub active">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-cogs"></i>
              <span>Page Options</span>
            </a>
            <ul class="sub-menu">
              <li class="active"><a href="page_blank.html">Blank Page</a></li>
              <li><a href="page_with_footer.html">Page with Footer</a></li>
              <li><a href="page_without_sidebar.html">Page without Sidebar</a></li>
              <li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
              <li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
              <li><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>
              <li><a href="page_with_line_icons.html">Page with Line Icons</a></li>
              <li><a href="page_with_ionicons.html">Page with Ionicons</a></li>
              <li><a href="page_full_height.html">Full Height Content</a></li>
              <li><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>
              <li><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>
              <li><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>
              <li><a href="page_with_top_menu.html">Page with Top Menu</a></li>
              <li><a href="page_with_boxed_layout.html">Page with Boxed Layout</a></li>
              <li><a href="page_with_mixed_menu.html">Page with Mixed Menu</a></li>
              <li><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu</a></li>
              <li><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar</a></li>
            </ul>
          </li>

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret"></b>
              <i class="fa fa-align-left"></i>
              <span>Menu Level</span>
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
                  <b class="caret"></b>
                  Menu 1.1
                </a>
                <ul class="sub-menu">
                  <li class="has-sub">
                    <a href="javascript:;">
                      <b class="caret"></b>
                      Menu 2.1
                    </a>
                    <ul class="sub-menu">
                      <li><a href="javascript:;">Menu 3.1</a></li>
                      <li><a href="javascript:;">Menu 3.2</a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:;">Menu 2.2</a></li>
                  <li><a href="javascript:;">Menu 2.3</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 1.2</a></li>
              <li><a href="javascript:;">Menu 1.3</a></li>
            </ul>
          </li>
        {% endif %}

      </ul>
      <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <div class="sidebar-bg"></div>
  <!-- end #sidebar -->

  <!-- begin #content -->
  <div id="content" class="content">
    <!-- begin breadcrumb -->
    {{ page.breadcrumb }}

    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">
      {{ page.page_header }}
    </h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Panel Title here</h4>
      </div>
      <div class="panel-body">
        {{ page.content }}
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end #content -->

  <!-- begin theme-panel -->
  <div class="theme-panel theme-panel-lg">
    <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
    <div class="theme-panel-content">
      <h5 class="m-t-0">Color Theme</h5>
      <ul class="theme-list clearfix">
        <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/pink.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/yellow.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/lime.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/green.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/aqua.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/indigo.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo">&nbsp;</a></li>
        <li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="{{ base_path }}{{ directory }}/assets/css/default/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
      </ul>
      <div class="divider"></div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Header Styling</div>
        <div class="col-md-6">
          <select name="header-styling" class="form-control form-control-sm">
            <option value="1">default</option>
            <option value="2">inverse</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Header</div>
        <div class="col-md-6">
          <select name="header-fixed" class="form-control form-control-sm">
            <option value="1">fixed</option>
            <option value="2">default</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Styling</div>
        <div class="col-md-6">
          <select name="sidebar-styling" class="form-control form-control-sm">
            <option value="1">default</option>
            <option value="2">grid</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Sidebar</div>
        <div class="col-md-6">
          <select name="sidebar-fixed" class="form-control form-control-sm">
            <option value="1">fixed</option>
            <option value="2">default</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Gradient</div>
        <div class="col-md-6">
          <select name="content-gradient" class="form-control form-control-sm">
            <option value="1">disabled</option>
            <option value="2">enabled</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Content Styling</div>
        <div class="col-md-6">
          <select name="content-styling" class="form-control form-control-sm">
            <option value="1">default</option>
            <option value="2">black</option>
          </select>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6 control-label text-inverse f-w-600">Direction</div>
        <div class="col-md-6">
          <select name="direction" class="form-control form-control-sm">
            <option value="1">LTR</option>
            <option value="2">RTL</option>
          </select>
        </div>
      </div>
      <div class="divider"></div>
      <h5>THEME VERSION</h5>
      <div class="theme-version">
        <a href="../template_html/index_v2.html" class="active">
          <span style="background-image: url({{ base_path }}{{ directory }}/assets/img/theme/default.jpg);"></span>
        </a>
        <a href="../template_transparent/index_v2.html">
          <span style="background-image: url({{ base_path }}{{ directory }}/assets/img/theme/transparent.jpg);"></span>
        </a>
      </div>
      <div class="theme-version">
        <a href="../template_apple/index_v2.html">
          <span style="background-image: url({{ base_path }}{{ directory }}/assets/img/theme/apple.jpg);"></span>
        </a>
        <a href="../template_material/index_v2.html">
          <span style="background-image: url({{ base_path }}{{ directory }}/assets/img/theme/material.jpg);"></span>
        </a>
      </div>
      <div class="divider"></div>
      <div class="row m-t-10">
        <div class="col-md-12">
          <a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>Reset Local Storage</b></a>
        </div>
      </div>
    </div>
  </div>
  <!-- end theme-panel -->

  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->
</div>
<!-- end page container -->
