{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}

{% if breadcrumb %}
<ol class="breadcrumb pull-right">
  {% for item in breadcrumb %}
  <li class="breadcrumb-item">
    {% if item.url %}
      <a href="{{ item.url }}">{{ item.text }}</a>
    {% else %}
      {{ item.text }}
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}

