{#{% extends "@seven:block.html.twig" %}#}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<a href="{{ path('<front>') }}" class="navbar-brand">
  {#<img src="{{ site_logo }}" class="navbar-logo" />#}
  <span class="navbar-logo"></span>
  <b>Color</b> Admin
</a>
<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
{% endblock %}
