{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<ul class="nav">
  {{ menus.menu_links(items, attributes, 0) }}
</ul>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
    {% for k,item in items %}
      {%
        set item_classes = [
        item.below ? 'treeview',
        item.in_active_trail ? 'active',
      ]
      %}
      {% if item.below %}
        <li{{ item.attributes.addClass('has-sub') }}>
          <a href="javascript:;" title="{{ item.title }}"><b class="caret"></b><i class="{{ item.icon }}"></i><span>{{ item.title }}</span></a>
          <ul{{ item.attributes.removeClass('has-sub').addClass('sub-menu') }}>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </ul>
        </li>
      {% else %}
        <li{{ item.attributes }}>
          <a href="{{ item.url }}" title="{{ item.title }}"><i class="{{ item.icon }}"></i><span>{{ item.title }}</span></a>
        </li>
      {% endif %}  {# end if item.below #}
    {% endfor %} {# end for items #}
{% endmacro %}

{# If you need display first level of administrator , use below #}

{#{% macro menu_links(items, attributes, menu_level) %}#}
  {#{% import _self as menus %}#}
  {#{% if items %}#}
    {#{% for k,item in items %}#}
      {#{% if k=='system.admin' %}#}
        {#{{ menus.menu_links(item.below, attributes, menu_level + 1) }}#}
      {#{% elseif k=='admin_user' %}#}
      {#{% else %}#}
        {#{% if item.below %}#}
          {#<li{{ item.attributes.addClass('has-sub') }}>#}
            {#<a href="javascript:;" title="{{ item.title }}"><b class="caret"></b><i class={{ item.icon }}></i><span>{{ item.title }}</span></a>#}
            {#<ul{{ item.attributes.removeClass('has-sub').addClass('sub-menu') }}>#}
              {#{{ menus.menu_links(item.below, attributes, menu_level + 1) }}#}
            {#</ul>#}
          {#</li>#}
        {#{% else %}#}
          {#<li{{ item.attributes }}>#}
            {#<a href="{{ item.url }}" title="{{ item.title }}"><i class={{ item.icon }}></i><span>{{ item.title }}</span></a>#}
          {#</li>#}
        {#{% endif %}  #}{# end if item.below #}
      {#{% endif %} #}{# end if k == system.admin #}
    {#{% endfor %} #}{# end for items #}
  {#{% endif %} #}{# end items #}
{#{% endmacro %}#}